In [1]:
import pandas as pd
import numpy as np

In [2]:
books_df = pd.read_csv("BL-Flickr-Images-Book.csv")

In [3]:
books_df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [4]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [6]:
books_df.shape

(8287, 15)

In [7]:
books_df.describe

<bound method NDFrame.describe of       Identifier             Edition Statement      Place of Publication  \
0            206                           NaN                    London
1            216                           NaN  London; Virtue & Yorston
2            218                           NaN                    London
3            472                           NaN                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           NaN                    London
8283     4158128                           NaN                     Derby
8284     4159563                           NaN                    London
8285     4159587                           NaN       Newcastle upon Tyne
8286     4160339                           NaN                    London

     Date of Publication                Publisher  \
0            1879 [1878]         S. Tinsley & Co.
1                   1868             Virtue & Co.
2                   1869    Bradbury, Evans & Co.
3                   1851            James Darling
4                   1857     Wertheim & Macintosh
...                  ...                      ...
8282                1838                      NaN
8283            1831, 32          M. Mozley & Son
8284           [1806]-22  T. Cadell and W. Davies
8285                1834         Mackenzie & Dent
8286             1834-43                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  Corporate Author  \
0                                       FORBES, Walter.               NaN
1          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
2          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
3                           Appleyard, Ernest Silvanus.               NaN
4                                   BROOME, John Henry.               NaN
...                                                 ...               ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...               NaN
8283                                     NOBLE, Thomas.               NaN
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S               NaN
8285                               ROSS, M. - of Durham               NaN
8286            BANDINEL, Bulkeley.|Nichols, John Gough               NaN

      Corporate Contributors Former owner  Engraver Issuance type  \
0                        NaN          NaN       NaN   monographic
1                        NaN          NaN       NaN   monographic
2                        NaN          NaN       NaN   monographic
3                        NaN          NaN       NaN   monographic
4                        NaN          NaN       NaN   monographic
...                      ...          ...       ...           ...
8282                     NaN          NaN       NaN   monographic
8283                     NaN          NaN       NaN   monographic
8284                     NaN          NaN       NaN   monographic
8285                     NaN          NaN       NaN   monographic
8286                     NaN          NaN       NaN    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]>

In [8]:
# Find and drop the columns which are irrelevant for the book information
irrelevant_columns = ['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 
'Engraver', 'Contributors', 'Issuance type', 'Shelfmarks']
books_df.drop(columns=irrelevant_columns, inplace=True)

In [9]:
# Change the Index of the DataFrame
books_df.set_index('Identifier', inplace=True)

In [10]:
# Tidy up fields in the data such as date of publication with the help of simple regular expression
books_df['Date of Publication'] = books_df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)

In [11]:
# Combine str methods with NumPy to clean columns
books_df['Date of Publication'] = pd.to_numeric(books_df['Date of Publication'], errors='coerce')

In [12]:
# Display the cleaned DataFrame
print("\nCleaned DataFrame:")
print(books_df.head())

Cleaned DataFrame:
                Place of Publication  Date of Publication  \
Identifier
206                           London               1879.0
216         London; Virtue & Yorston               1868.0
218                           London               1869.0
472                           London               1851.0
480                           London               1857.0

                        Publisher  \
Identifier
206              S. Tinsley & Co.
216                  Virtue & Co.
218         Bradbury, Evans & Co.
472                 James Darling
480          Wertheim & Macintosh

                                                        Title     Author  \
Identifier
206                         Walter Forbes. [A novel.] By A. A      A. A.
216         All for Greed. [A novel. The dedication signed...  A., A. A.
218         Love the Avenger. By the author of “All for Gr...  A., A. A.
472         Welsh Sketches, chiefly ecclesiastical, to the...  A., E. S.
480         [The World in which I live, and my place in it...  A., E. S.

                                                   Flickr URL
Identifier
206         http://www.flickr.com/photos/britishlibrary/ta...
216         http://www.flickr.com/photos/britishlibrary/ta...
218         http://www.flickr.com/photos/britishlibrary/ta...
472         http://www.flickr.com/photos/britishlibrary/ta...
480         http://www.flickr.com/photos/britishlibrary/ta...

In [14]:
books_df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...